body {
    background-color: #1B1A17;
}

.childBox {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 265px;
    position: relative;
    border: solid grey
}

.boxLabel {
    color: white;
    text-align: center
}