@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #1e1e1e;
}

.MuiLinearProgress-dashed.MuiLinearProgress-dashedColorInherit {
    -webkit-animation: stream-ltr 0.5s linear infinite;
    animation: stream-ltr 0.5s linear infinite;
    background-image: none;
}

.MuiLinearProgress-dashed.MuiLinearProgress-dashedColorInherit:before {
    content: '';
    position: absolute;
    bottom: 46%;
    border-bottom: 8px dotted;
    width: 100%;
    z-index: 0;
}

@keyframes stream-ltr {
    100% {
        @apply -translate-x-4
    }
}

.MuiCard-root {
    @apply bg-gray-900 border border-gray-600 rounded-lg m-2.5;
}