@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes stream-ltr {
    100% {
        transform: translateX(-16px);
    }
}

.MuiLinearProgress-dashed.MuiLinearProgress-dashedColorInherit {
    -webkit-animation: stream-ltr 0.5s linear infinite;
    animation: stream-ltr 0.5s linear infinite;
    background-image: none;
}

.MuiLinearProgress-dashed.MuiLinearProgress-dashedColorInherit:before {
    content: '';
    position: absolute;
    bottom: 46%;
    border-bottom: 8px dotted;
    width: 100%;
}

